form {
	display: flex;
	gap: 15px;
}
input[type='color'] {
	border-radius: 50px;
	width: 150px;
	background-color: transparent;
	border: 2px white solid;
	padding: 0;
}
input[type='color']:hover {
	cursor: pointer;
}
button[type='submit'] {
	border-radius: 50px;
	border: 0;
	padding: 5px 20px;
	transition: ease-in-out 0.3s;
}
button[type='submit']:hover {
	cursor: pointer;
	background-color: #001111;
	color: #fff;
}
